@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  user-select: none;
}

button {
  touch-action: manipulation;
  transition: transform 0.1s;
}

button:active {
  transform: scale(0.95);
}